*, *:before, *:after {
  -moz-box-sizing: border-box; 
  -webkit-box-sizing: border-box; 
  box-sizing: border-box;
 }

body {
  font-family: monospace;
  font-size: 16px;
  margin: 10px;
}

a {
  text-decoration: none;
  color: hsla(240, 100%, 52%, 1);
}

a:hover, a:active {
  text-decoration: underline;
  color: hsla(339, 100%, 52%, 1);
}

#score, #legend {
  width: 100%;
}

#legendWrapper {
  clear: both;
    height: 50px;
}

#youWrapper, #robotWrapper {
  width: 50%;
  height: 400px;
  float: left;
}

#you, #robot {
  border: 1px dashed hsla(240, 5%, 68%, 1);
}

.help {
  cursor: help;
}

.fa {
  color: hsla(339, 100%, 52%, .5);
}

#message, .fa {
  padding: 0 14px;
}

#play, #reset {
  display:inline-block;
  position: absolute;
  right: 10px;
};

#harder, #easier {
  cursor: pointer;
}