*, *:before, *:after {
  -moz-box-sizing: border-box; 
  -webkit-box-sizing: border-box; 
  box-sizing: border-box;
 }

body {
  font-family: monospace;
  font-size: 16px;
  margin: 10px;
}

a {
  text-decoration: none;
  color: hsla(240, 100%, 52%, 1);
}

a:hover, a:active {
  text-decoration: underline;
  color: hsla(339, 100%, 52%, 1);
}

#score {
  width: 100%;
}

#legendWrapper {
  clear: both;
  height: 50px;
}

#legend, #mode {
  width: 50%;
  float: left;
}


#youWrapper, #robotWrapper {
  width: 50%;
  height: 400px;
  float: left;
}

#you, #robot {
  border: 1px dashed hsla(240, 5%, 68%, 1);
}

#message, .fa {
  padding: 0 14px;
}

#play, #reset, #mode {
  display:inline-block;
  position: absolute;
  right: 10px;
  text-align: right;
}

.fa {
  color: hsla(339, 100%, 52%, .5);
}

.selected-mode {
  color: hsla(339, 100%, 52%, 1);
}

.selected-mode:hover {
  text-decoration: none;
}
